.worktrees/
.assets
.env
.env.*
!.env.example
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
node_modules/
poetry.lock
.pytest_cache/
botpy.log
nano.*.save
config.json
*.pem
*.key
*.cert

